[ req ]
default_bits           = 4096
days                   = 365
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
x509_extensions        = v3_ca

[ req_distinguished_name ]
C                      = <Country goes here>
ST                     = <State goes here>
L                      = <City/Location here>
O                      = <Organization>
OU                     = <Organizational Unit>
CN                     = <Common Name of Client or User>
emailAddress           = <Email address of Client or User>

[ req_attributes ]
challengePassword      = password

[ v3_ca ]
authorityInfoAccess = @issuer_info

[ issuer_info ]
OCSP;URI.0 = http://gunter.example.com/
caIssuers;URI.0 = http://example.com/ca.cert
